header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  padding: 30px 0;
}

.logo {
  margin-right: auto;
}

.menu {
  margin-right: 92px;
}

.menu__link {
  color: rgba(16, 24, 40, 1);
  margin: 12.5px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.menu__link_auth {
  color: white;
  padding: 10px 16px;
  background-color: #7f56d9;
  border-radius: 5px;
  border: 1px solid #f4ebff;
  margin-left: 20px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}
