@import url("./variables.css");
@import url("./fonts.css");
@import url("./header.css");
@import url("./banner.css");
@import url("./our_services.css");
@import url("./explore-programs.css");
@import url("./tutors.css");
@import url("./review.css");
@import url("./recent-blogs.css");

body {
  box-sizing: border-box;
  font-family: "Inter", cursive;
  margin: 0px auto;
  color: var(--blue);
  color: black;
}

a {
  text-decoration: none;
  /* color: inherit !important; */
}

* {
  box-sizing: border-box;
}

.highlight-line {
  position: relative;
  top: -10px;
  height: 1px;
  background-color: rgba(169, 169, 169, 0.5);
  margin: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
