:is(.page__title, .page__sub-title) {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  justify-content: center;
  width: 768px;
  height: 124px;
  gap: 20px;
}

.page__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #6941c6;
}
.page__sub-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #101828;
  text-align: center;
}
.our-services_elements {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  width: 768px;
  height: 124px;
  gap: 20px;
}

.our-services__sub-title__elements {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.sub-title__elements__name {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  margin-bottom: 30px;
}
.sub-title__elements__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  color: #646464;
}
.sub-title__elements__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #101828;
}

.sub-title__elements__arrow {
}

.sub-title__elements__cover {
  padding: 30px 40px;
}

.our-services__sub-title__elements__user-experience
  .sub-title__elements__cover {
  background-color: #7f56d9;
  border-radius: 12px;
}
